
@model IEnumerable<Sampe.Usuario>
<!--<ul>
    @foreach (var itemDeMenu in Model)
    {
        <li>@Html.ActionLink(itemDeMenu.NomeUsuario, "Detalhes", "UmControllerQualquer", new { id = itemDeMenu.UsuarioId }, null)</li>
    }
</ul>-->
<title>@ViewBag.Title | Example.com</title>